<!-- NOTE: The calendar view looks bad if you put more than 3 rows of content -->
<%= month_calendar do |date| %>
  <div class="text-reset d-flex flex-column justify-content-between h-100")>
    <% day = @days[date] %>
    <% yesterday = @days[date.yesterday] %>

    <div>
      <%= link_to(days_path(date: date), class: "text-decoration-none text-black") do %>
        <% if date.day == 1 %>
          <span><%= date.strftime("%B %d") %></span>
        <% else %>
          <span><%= date.strftime("%d") %></span>
        <% end %>
      <% end %>
    </div>

    <div class="d-flex">
      <% if day&.weight && @start&.weight && day != @start %>
        <!-- Show the delta between today and the first entry in the month -->
        <% delta = (day.weight - @start.weight).round(1) %>
        <span class="me-1"><%= sign(delta) %><%= delta.abs %> lbs</span>
      <% end %>
      <% if day && day.weight && yesterday && yesterday.weight %>
        <!-- Show the delta between today and yesterday -->
        <% delta = (day.weight - yesterday.weight).round(1) %>
        <span class="text-secondary align-self-center" style="font-size: 12px">(<%= sign(delta) %><%= delta.abs %> lbs)</span>
      <% end %>
      <% bow = @days[date.beginning_of_week - 1.day] %>
      <% if date.end_of_week == date && day&.weight && bow&.weight %>
        <!-- Show the weeks delta at the end of the week -->
        <% delta = (day.weight - bow.weight).round(1) %>
        <span style="margin-left: auto;"><%= sign(delta) %><%= delta.abs %> lbs</span>
      <% end %>
    </div>

    <% if day %>
      <span><%= [day.weight, day.kilocalories].compact.join(" / ") %></span>
    <% end %>
  </div>
<% end %>

<div class="border rounded p-3 mt-2">
  <%= line_chart(
    [{
      name: "Weight",
      data: @weight,
    },
    {
      name: "EMA",
      data: @ema,
    }],
    min: nil,
    ytitle: "Weight (lbs)",
    download: true,
  ) %>
</div>
