<p style="color: green"><%= notice %></p>

<% content_for :title, "Meals" %>

<h1>Meals for <%= l(@day.date, format: :short) %> </h1>

<div id="meals">
  <% @meals.each do |meal| %>
    <p>
      <%= link_to meal.name, edit_day_meal_path(@day, meal) %>
    </p>
  <% end %>
</div>

<%= link_to "Add a meal", new_day_meal_path(@day) %> | <%= link_to "Copy a meal", copy_day_meals_path(@day) %>
